<div class="row">
  <div class="col-6">
    <app-doughnut 
          [label]="todayProductsSold" 
          [data]="quantityTodayProductsSold">
    </app-doughnut>
  </div>
  <div class="col-6">
    <app-doughnut 
          title="{{ yesterdaySales }}"
          [label]="todayProductsSold">
    </app-doughnut>
  </div>
  <div class="col-6">
    <app-doughnut title="{{ monthSales }}"></app-doughnut>
  </div>
  <div class="col-6">
    <app-doughnut title="{{ weekSales }}"></app-doughnut>
  </div>
</div>