/* You can add global styles to this file, and also import other style files */
#themecolors .selector,
.logout {
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.avatar-previsualization {
  width: 8rem;
}

.next-prev-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.w100 {
  width: 5rem;
}

.avatarsInList {
  border: .1rem solid grey;
  border-radius: 100%;
  width: 3.5rem;
}